<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Access to you account</title>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--<script type="text/javascript" src="jquery-2.1.1.min.js"></script>-->
    </head>
    <body>
        <main>
            <div class="container" style="height: 100vh">
                <div class="valign-wrapper" style="height: 100%">
                    <div class="valign center-block">
                        <!--<a class="waves-effect waves-light btn-large" href="#" th:href="${openidconnect_url}">-->
                            <!--<i class="material-icons left">input</i>Sign In via Google</a>-->
                        <div class="card medium light-blue darken-3">
                            <div class="card-content white-text">
                                <span class="card-title">External Access</span>
                                <p><b th:text="${external_resource_name}"></b> wants to get an access to your Account.</p>
                            </div>
                            <div class="card-action">
                                <a th:href="@{/oauth2/authentication(client_id=${client_id}, redirect_url=${redirect_url},
                                response_type=${response_type},user_id=${user_id})}">Allow</a>
                                <a th:href="@{index.html(user_id=${user_id})}">Dismiss</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>