<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign In/Up</title>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
    </head>
    <body>
        <main>
            <div class="container" style="height: 100vh">
                <div class="valign-wrapper" style="height: 100%">
                    <div class="valign center-block">
                        <div class="row error" th:if="${error != null}">
                            <div class="col s8 offset-s2">
                                <div class="card red darken-4">
                                    <div class="card-content white-text">
                                        <span th:text="${error}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s8 offset-s2">
                                <ul class="tabs col s12">
                                    <li class="tab col s6">
                                        <a class="white-text purple lighten-2 waves-effect active" onclick="activateSignForm('Sign In')">Sign In</a>
                                    </li>
                                    <li class="tab col s6">
                                        <a class="white-text light-blue lighten-2 waves-effect" onclick="activateSignForm('Sign Up')">Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="sign" class="col s8 offset-s2">
                                <div class="col s12">
                                    <form th:action="@{authentication(client_id=${client_id}, redirect_url=${redirect_url},response_type=${response_type})}"
                                          th:object="${user}" class="col s12 light-blue lighten-5 center-align" method="post">
                                        <div class="input-field col s12 left-align">
                                            <i class="material-icons prefix">email_circle</i>
                                            <input type="text" id="email" th:field="*{email}" autofocus="autofocus" class="validate"/>
                                            <label for="email">Email</label>
                                        </div>
                                        <div class="input-field col s12 left-align">
                                            <i class="material-icons prefix signup" style="display: none">perm_identity_circle</i>
                                            <input type="text" class="signup" id="name" th:field="*{name}" style="display: none"/>
                                            <label class="signup" id="nameLabel" for="name" style="display: none">Name</label>
                                        </div>
                                        <div class="input-field col s12 left-align">
                                            <i class="material-icons prefix">lock_outline_circle</i>
                                            <input type="password" id="password" th:field="*{password}"/>
                                            <label for="password">Password</label>
                                        </div>
                                        <!--<label id="repeatPasswordLabel" for="repeatPassword">Repeat password</label>-->
                                        <!--<input type="password" id="repeatPassword" th:field="*{repeatPassword}"-->
                                        <!--style="display: none"/>-->
                                        <button class="signin btn waves-effect waves-light center-align" type="submit" name="action">
                                            <i class="material-icons right">send</i>Sign In
                                        </button>
                                        <button class="signup btn waves-effect waves-light center-align" type="submit" name="action" style="display: none">
                                            <i class="material-icons right">send</i>Sign Up
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="scripts.js"></script>
    </body>
</html>
